---
---
<section class="mt-[100px] container mx-auto px-5">
  <div class="banner rounded-[30px] p-0 relative overflow-hidden h-[600px] w-full">
    <video autoplay muted loop playsinline class="w-full h-full object-cover absolute top-0 left-0 z-10">
      <source src="/images/bg_video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="text-content text-white relative z-20 h-full flex flex-col justify-center px-10 md:px-20">
      <p class="text-2xl md:text-4xl mb-2 font-medium">IT Consultant</p>
      <h1 class="text-6xl md:text-8xl font-bold leading-tight">Pranav<br>Pahuja</h1>
    </div>
  </div>
</section>
