---
---
<section class="p-5 md:py-20 container mx-auto fade-in-section">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
    <div class="col-span-1">
      <div class="flex gap-4 items-start">
        <div class="icon text-green shrink-0">
          <svg width="50" height="50" viewBox="0 0 24 24" fill="currentColor">
            <path d="M19 2H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2.64l-.58 1a2 2 0 0 0 0 2a2 2 0 0 0 1.75 1h6.46A2 2 0 0 0 17 21a2 2 0 0 0 0-2l-.59-1H19a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3M8.77 20L10 18h4l1.2 2ZM20 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-1h16Zm0-3H4V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1Z" />
          </svg>
        </div>
        <div class="text-left">
          <h5 class="font-bold text-xl mb-2">
            Consulting & Strategic Problem-Solving
          </h5>
          <p class="text-gray-500 text-lg">
            I combine technical expertise with consulting acumen, I craft tailored strategies that align technology with business objectives.
          </p>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex gap-4 items-start">
        <div class="icon text-green shrink-0">
          <svg width="50" height="50" viewBox="0 0 24 24" fill="currentColor">
            <path d="M16 14H8a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2m0-4h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2m4-6h-3V3a1 1 0 0 0-2 0v1h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H4a1 1 0 0 0-1 1v14a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V5a1 1 0 0 0-1-1m-1 15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6h2v1a1 1 0 0 0 2 0V6h2v1a1 1 0 0 0 2 0V6h2v1a1 1 0 0 0 2 0V6h2Z" />
          </svg>
        </div>
        <div class="text-left">
          <h5 class="font-bold text-xl mb-2">
            Developing Tech Solutions
          </h5>
          <p class="text-gray-500 text-lg">
            I leverage tech stack of Python, data analytics, PL/SQL, etc. to create scalable and creative solutions for the client's needs.
          </p>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex gap-4 items-start">
        <div class="icon text-green shrink-0">
          <svg width="50" height="50" viewBox="0 0 24 24" fill="currentColor">
            <path d="M21 14h-1V7a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v7H3a1 1 0 0 0-1 1v2a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-2a1 1 0 0 0-1-1M6 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7H6Zm14 10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-1h16Z" />
          </svg>
        </div>
        <div class="text-left">
          <h5 class="font-bold text-xl mb-2">
            Strategic Digital Transformation
          </h5>
          <p class="text-gray-500 text-lg">
            I leverage modern technologies to enhance efficiency, innovation, and long-term growth.
          </p>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex gap-4 items-start">
        <div class="icon text-green shrink-0">
          <svg width="50" height="50" viewBox="0 0 24 24" fill="currentColor">
            <path d="M16 14H8a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2m0-4h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2m4-6h-3V3a1 1 0 0 0-2 0v1h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H4a1 1 0 0 0-1 1v14a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V5a1 1 0 0 0-1-1m-1 15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6h2v1a1 1 0 0 0 2 0V6h2v1a1 1 0 0 0 2 0V6h2v1a1 1 0 0 0 2 0V6h2Z" />
          </svg>
        </div>
        <div class="text-left">
          <h5 class="font-bold text-xl mb-2">
            AI & Data Intelligence Solutions
          </h5>
          <p class="text-gray-500 text-lg">
            I leverage machine intelligence to enhance business foresight, personalization, and efficiency.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
