---
---
<section class="container mx-auto px-5 mb-20 fade-in-section">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Education -->
    <div class="h-full glass-panel p-8 rounded-[30px] hover:bg-white/5 transition-all duration-300">
      <h3 class="text-2xl font-bold mb-6 text-white">
        Education
      </h3>
      <div class="py-4">
        <p class="text-gray-400 mb-2 font-medium">
          2016 - 2020
        </p>
        <h5 class="text-xl font-bold mb-2 text-white">
          Bachelor of Technology, Computer Engineering
        </h5>
        <p class="text-gray-400">
          Thapar Institute of Engineering and Technology, IN
        </p>
      </div>
    </div>

    <!-- Experiences -->
    <div class="h-full glass-panel text-white p-8 rounded-[30px] hover:bg-white/5 transition-all duration-300">
      <h3 class="text-2xl font-bold mb-6 text-white">
        Experiences
      </h3>
      <div class="py-4">
        <p class="text-gray-400 mb-2 font-medium">
          Present
        </p>
        <h5 class="text-xl font-bold mb-2 text-white">
          Deloitte Consulting USI : Consultant
        </h5>
        <p class="text-gray-400">
          Delivered impactful solutions for global clients by leveraging Python, PL/SQL, Shell scripting, Oracle suite, analytics, and automation.
        </p>
        <p class="text-green mt-4 text-sm font-medium">Download resume for details.</p>
      </div>
    </div>

    <!-- Interests -->
    <div class="h-full glass-panel p-8 rounded-[30px] hover:bg-white/5 transition-all duration-300">
      <h3 class="text-2xl font-bold mb-6 text-white">
        Interests
      </h3>
      <div class="py-4 space-y-6">
        <div>
          <h5 class="text-xl font-bold mb-2 text-white">
            Astrophysics and Cosmology
          </h5>
          <p class="text-gray-400">
            Isn't it fascinating to ponder the mysteries of the universe, from black holes to dark matter?
          </p>
        </div>
        <div>
          <h5 class="text-xl font-bold mb-2 text-white">
            Aviation, Travel, and Exploration
          </h5>
          <p class="text-gray-400">
            The thrill of flying (well, on a simulator) and actually exploring new cultures just broadens horizons.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
